<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>


<body style="background-color:#e3f2fd">
<!--NAVIGATION BAR-->
<nav class="navbar" style="background-color: #b3dcfa;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary pt-2 pb-2">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active h2 px-3" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h2 px-3" href="/mainPage">Historical legacies</a>
                    </li>
                    <li class="nav-item">
                        <!--tuka home-->
                        <a class="nav-link h2 px-3" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <!--tuka home-->
                        <a class="nav-link h2 px-3" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</nav>
<!--NAVIGATION BAR-->

<!--<h1>About</h1>-->

<section id="introduction">
    <div class="container">
        </br>
        </br>
        </br>
        </br>
        </br>
        <p class="text-center h3"  style="color: #084672">
            Оваа апликација е посветена на истражување и одржување на богатото културно-историско наследство на Македонија.
            Walking through history е вашиот водич во светот на минатото, водич богат со информации
            и врата кон бескрајните приказни што ги носи нашата земја.
        </p>
    </div>
</section>
</br>

<section id="historicalSites">
    <div class="container w-60" >
        <h2 class="text-center h4"  style="color: #084672">Мисија</h2>
        <p  class="text-center" style="color: #007BFF">
            Нашата Мисија е со помош на технологијата да го промовираме нашето наследство и да им овозможиме на корисниците
            на лесен начин да пристапат до локациите на сите културно-историски објекти во Македонија и да можат да ги посетат.
        </p>
    </div>
</section>

<section id="galleries">
    <div  class="container w-50">
        <h2  class="text-center h4" style="color: #084672">Нашата Визија</h2>
        <p  class="text-center" style="color: #007BFF">
            Веруваме дека зачувувањето на историјата е нешто што е непроценливо богатство за сите нас.
            Оваа апликација има за цел да стане платформа која ќе ги инспирира и образува корисниците, ширејќи го знаењето за нашето наследство
            и со тоа ќе ја поврзиме новата генерација со корените на нејзината историја.
        </p>
    </div>
</section>


<section id="contact">
    <div class="container">
        <h2></h2>
    </div>
</section>
</body>
</html>